.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(10rem / 16);
}

.img {
  border-radius: 50%;
  width: calc(88rem / 16);
  height: calc(88rem / 16);
}

.name {
  font-weight: 500;
  font-size: calc(24em / 16);
  line-height: 150%;
  letter-spacing: 0.5px;
  color: var(--white);
  margin-bottom: 3px;
}

.location {
  font-weight: 500;
  font-size: var(--font-size-regular);
  line-height: 150%;
  letter-spacing: 0.2px;
  color: var(--green);
  margin-top: 0;
  margin-bottom: calc(10rem / 16);
}

.description {
  font-weight: 300;
  font-size: var(--font-size-regular);
  line-height: 150%;
  letter-spacing: 0.2px;
  color: var(--white);
}