.container {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-800);
  padding: calc(40em / 16);
  border-radius: calc(12em / 16);
  width: 19%;
  height: 65.5%;
  max-width: calc(304rem / 16);
}
