.container {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-800);
  padding: calc(40em / 16);
  border-radius: calc(12em / 16);
  min-width: calc(304rem / 16);
  min-height: calc(531rem / 16);
}
