:root {
  --white: #ffffff;
  --green: #c4f82a;
  --grey-700: #333333;
  --grey-800: #1f1f1f;
  --grey-900: #141414;
  --font-size-regular: 0.875rem;

  background-color: var(--grey-900);
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}
